<div class="page-recapitulatif">
  <h1>Récapitulatif des Tâches</h1>
  <div class="recap-section">
    <p class="recap-item">
      <span class="recap-label">Tâches Totales :</span>
      <span class="recap-value">{{ totalTaches }}</span>
    </p>
    <p class="recap-item">
      <span class="recap-label">Tâches Accomplies :</span>
      <span class="recap-value">{{ tachesAccomplies }}</span>
    </p>
    <p class="recap-item">
      <span class="recap-label">Tâches en Cours :</span>
      <span class="recap-value">{{ totalTaches - tachesAccomplies }}</span>
    </p>
  </div>
</div>
